* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 25px rgb( 0 0 0 / 20%);
    height: 130px;
    background: #368B85;
    z-index: 1000;
    display: grid;
    align-items: center;
}
.header-container .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-container .navigation a {
    text-decoration: none;
    color: #fff;
    background: #266863;
    border-radius: 50px;
    padding: 10px 30px;
    outline: none;
    border: 2px solid #d39313;
}
.header-container .navigation a:hover {
    background: #d39313;
    border: 2px solid #266863 ;
    transition: all 400ms;
}
.header-container .navigation .active {
    background: #d39313;
    color: #153835;
    font-weight: bold;
}
.header-intro {
    background-image: url("https://images.pexels.com/photos/316681/pexels-photo-316681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 270px;
    position: absolute;
    top: 8rem;
}
.text1 {
    font-size: 12rem;
    text-transform: uppercase;
    font: weight 900;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    padding: 0;
}

.text2 {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: end;
    font-family: 'IM Fell French Canon', serif;
    letter-spacing: 20px;
    display: block;
    text-align: right;
    visibility: hidden;
}
header {
    position: relative;
}

.about-container {
    /*border: 2px solid rgb(255, 0, 0);*/
    width: 100%;
    height: auto;
    position: absolute;
    top: 30rem;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.about-container .about-img {
    border: 5px solid rgb(255, 255, 255);
    width: 300px;
    height: 500px;
    background-image: url("https://images.pexels.com/photos/1573461/pexels-photo-1573461.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(100, 100, 111, 0.514) 0px 7px 29px 0px;
}
.about-container .about-text{
    width: 400px;
    height: 500px;
    margin-left: 60px;
    padding: 20px;
}
.about-container .about-text h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}
.about-container .about-text p {
    margin-top: 2rem;
    line-height: 27px;
    font-size: 18px;
}
.about-container .about-text li {
    list-style: none;
    margin: 20px 0;
    font-size: 20px;
}

/* footer */

.footer {
    margin-top: 15rem;
    height: 200px;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60rem;
  }
  .copyright {
      color: #fff;
  }

  main {
      position: relative;
  }