* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */


.logo {
    position: absolute;
    padding: 10px 20px;
    width: 110px;
    height: auto;
    display: none;
}

.active {
    background: #d39313;
}

#menu {
	background: #296d68;
	color: #FFF;
	height: 80px;
    position: relative;
    z-index: 1000;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
    line-height: 80px;
	padding: 0 25px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color:#ffffff;
	background: #d39313;
    transition: all 500ms;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 80px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}


.intro-bg {
    width: 100%;
    height: 100vh;
    background:linear-gradient(
        rgba(0, 0, 0, 0.616), 
        rgba(0, 0, 0, 0.616)
      ), url("/image/book-shelf.jpeg") no-repeat center;
      display: flex;
      justify-content: center;
      align-items: center;
}

 .text1 {
    font-size: 7rem;
    text-transform: uppercase;
    font: weight 900;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    padding: 0;
}

.text2 {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: end;
    font-family: 'IM Fell French Canon', serif;
    letter-spacing: 20px;
    display: block;
    text-align: right;
}


.books-section {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
	padding: 200px 70px;
}

.book1 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/The-Secret.png") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.book1 p, .book2 p, .book3 p, .book4 p, .book5 p, .book6 p, .book7 p, .book8 p, .book9 p, .book10 p,
.book11 p, .book12 p, .book13 p, .book14 p, .book15 p {
	font-size: 17px;
	line-height: 27px;
	display: none;
	color: #fff;
}
.book1:hover, .book2:hover, .book3:hover, .book4:hover, .book5:hover, .book6:hover, .book7:hover, .book8:hover, .book9:hover, .book10:hover,
.book11:hover, .book12:hover, .book13:hover, .book14:hover, .book15:hover{
	background: #000;
	transition: all 1s;
	cursor: pointer;
	border: 10px solid #d39313;
}

.book2 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/the-celestine.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.book3 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/the-power-of-now.jpg") no-repeat center;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.book4 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/the-alchemist-25th-anniversary.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.book5 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/7-spiritual-laws-of-success.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


.book6 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/sacred-woman.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


.book7 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/here-all-along.png") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


.book8 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/A-New-Earth.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.book9 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/the-untethered-soul.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.book10 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/tao.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


.book11 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/mindfull.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


.book12 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/becoming-.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.book13 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/strang.jpg") no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.book14 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/seagull.jpg") no-repeat center;
}
.book15 {
	border: 10px solid #d39313;
	height: 450px;
	border-radius: 20px;
	background: url("/image/the-prophet-125.jpg") no-repeat center;
}