* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text1 {
    font-size: 13rem;
    text-transform: uppercase;
    font: weight 900;
    font-family: 'Poppins', sans-serif;
    color: rgb(51, 51, 51);
    padding: 0;
}

.text2 {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    text-align: end;
    font-family: 'IM Fell French Canon', serif;
    letter-spacing: 20px;
    display: block;
    text-align: right;
}
.article-zone {
    padding: 50px;
}
p {
    margin-top: 2rem;
    font-size: 18px;
    line-height: 27px;
}
/*
.hell-img {
    background-image: url("https://images.pexels.com/photos/8241747/pexels-photo-8241747.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}*/
img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}